<p id="notice"><%= notice %></p>

<p>
  <strong>Nota:</strong>
  <%= @evaluation.nota %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @evaluation.comentario %>
</p>

<p>
  <strong>Event:</strong>
  <%= @evaluation.event %>
</p>

<%= link_to 'Edit', edit_evaluation_path(@evaluation) %> |
<%= link_to 'Back', evaluations_path %>
