<p id="notice"><%= notice %></p>

<h1>Turma</h1>

<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Semestre</th>
      <th>Monitor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.discipline.descricao %></td>
        <td><%= team.semester %></td>
        <td><%= team.monitor.nome unless team.monitor.nil?%></td>
        <td><%= link_to 'Show', team %></td>
        <% if current_user.person.perfil == Person.perfils.key(0)%>
          <td><%= link_to 'Edit', edit_team_path(team) %></td>
          <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.person.perfil == Person.perfils.key(0)%>
  <%= link_to 'New Team', new_team_path %>
<%end%>
