<p id="notice"><%= notice %></p>

<p>
  <strong>Discipline:</strong>
  <%= @team.discipline.descricao %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @team.semester %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
