<p id="notice"><%= notice %></p>

<% if current_user.person.perfil == Person.perfils.key(0)%>
  <p>
    <strong>Discipline:</strong>
    <%= @team.discipline.descricao %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= @team.semester %>
  </p>

  <%= form_for @team do |form| %>
    <div class="field">
      <%= form.label :monitor_id %>
      <%= form.select(:monitor_id, @alunos.collect {|a| [a.nome, a.id]}, id: :team_monitor_id,  include_blank: true) %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
<% end %>

<% if current_user.person.perfil == Person.perfils.key(0)%>
  <%= link_to 'Editar Turma', edit_team_path(@team) %> |
  <%= link_to 'Back', teams_path %>
<%end%>
<%= render '/events/index', event: @events %>
