<p id="notice"><%= notice %></p>

<h1>Semesters</h1>

<table>
  <thead>
    <tr>
      <th>Ano</th>
      <th>Periodo</th>
      <th>Datainicio</th>
      <th>Datafim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.ano %></td>
        <td><%= semester.periodo %></td>
        <td><%= I18n.l(semester.dataInicio,format: :short) %></td>
        <td><%= I18n.l(semester.dataFim,format: :short) %></td>
        <td><%= link_to 'Show', semester %></td>
        <% if current_user.person.perfil == Person.perfils.key(0) %>
          <td><%= link_to 'Edit', edit_semester_path(semester) %></td>
          <td><%= link_to 'Destroy', semester, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.person.perfil == Person.perfils.key(0) %>
  <%= link_to 'New Semester', new_semester_path %>
<%end%>
