<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @semester.ano %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @semester.periodo %>
</p>

<p>
  <strong>Datainicio:</strong>
  <%= I18n.l(@semester.dataInicio) %>
</p>

<p>
  <strong>Datafim:</strong>
  <%= I18n.l(@semester.dataFim) %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
