<p id="notice"><%= notice %></p>

<h1>Disciplines</h1>

<br>
<%= form_tag(disciplines_path, :method => :get) do %>
<%= text_field_tag 'search', nil, placeholder: 'Entre termo Descricao ...'   %>
<%= submit_tag "Pesquisar ..." %> 
<% end %> 
<br>



<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Codigo</th>
      <th>Sigla</th>
      <th>Cargahoraria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.descricao %></td>
        <td><%= discipline.codigo %></td>
        <td><%= discipline.sigla %></td>
        <td><%= discipline.cargaHoraria %></td>
        <td><%= link_to 'Show', discipline %></td>
        <% if current_user.person.coordenador? %>
          <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
          <td><%= link_to 'Destroy', discipline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.person.coordenador? %>
  <%= link_to 'New Discipline', new_discipline_path %>
<%end%>
