<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :person_nome %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula, id: :person_matricula %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :person_telefone %>
  </div>

  <div class="field">
    <%= form.label :perfil %>
    <%= form.select(:perfil, Person.perfils.keys.map {|key| [key.humanize, key]},
      id: :person_perfil,  include_blank: true) %>
  </div>

  <div style="visibility:hidden" class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :person_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
