<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matricula</th>
      <th>Telefone</th>
      <th>Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.nome %></td>
        <td><%= person.matricula %></td>
        <td><%= person.telefone %></td>
        <td><%= person.perfil  %></td>
        <td><%= link_to 'Show', person %></td>
        <% if current_user.person.coordenador? || current_user.person.matricula == person.matricula %>
          <td><%= link_to 'Edit', edit_person_path(person) %></td>
          <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.person.coordenador? %>
  <%= link_to 'New Person', new_person_path %>
<% end %>
