<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Monitoria</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="<%= people_path %>">Usuários</a></li>
        <li><a href="<%= disciplines_path %>">Disciplinas</a></li>
        <li><a href="<%= semesters_path %>">Semestres</a></li>
        <li><a href="<%= teams_path%>">Turmas</a></li>

      </ul>
      <% if user_signed_in?%>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <!--%if current_user.person.nil?%-->
            <%=current_user.person.nome unless current_user.person.nil? %>
          <!--%end%-->
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
          </ul>
        </li>
      </ul>
      <%else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login" , new_user_session_path %></li>
        <li><%= link_to "Cadastrar" , new_user_registration_path %></li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
