<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Monitoria SI</h1>
    <p class="lead">Sistema de controle de monitores do curso de Sistemas para Internet</p>
  </div>
</div>


<h3>Buscar monitor:</h3>
<%= form_tag home_index_path, :method => 'get' do %>

  <div class="form-group">
        <input type="text" class="form-control" <%= text_field_tag 'search', nil, placeholder: "Ex: Raimundo" %>
        <button type="submit" class="btn btn-primary" <%= submit_tag "Buscar", :name => nil %>Buscar</button>
  </div>
<% end %>

<% if @people != nil %>
  <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Contato</th>
        </tr>
      </thead>

      <tbody>
        <% @people.each do |contato| %>
          <tr>
            <td><%= contato.nome %></td>
            <td><%= contato.telefone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
<% end %>



<h3>Turmas com monitores</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Disciplina</th>
      <th scope="col">Semestre</th>
      <th scope="col">Monitor</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <% if team.monitor != nil  %>
        <tr>
            <td><%= team.discipline.descricao %></td>
            <td><%= team.semester %></td>
            <td><%= team.monitor.nome unless team.monitor.nil?%></td>
        </tr>
      <% end  %>
    <% end %>
  </tbody>
</table>
