<%= form_with(model: [@team,event], local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_id %>
    <%= form.text_field :team_id, id: :event_team_id %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :event_descricao %>
  </div>

  <div class="field">
    <%= form.label :inicio %>
    <%= form.date_select :inicio, id: :event_inicio %>
  </div>

  <div class="field">
    <%= form.label :fim %>
    <%= form.date_select :fim, id: :event_fim %>
  </div>

  <div class="field">
    <%= form.label :local %>
    <%= form.text_field :local, id: :event_local %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
