<!-- <p id="notice"><%= notice %></p> -->

<h1>Monitorias</h1>


<%= form_tag new_team_event_path(@team), :method => 'get' do %>
  <div class="form-group" id="btn_agendar">
        <button <%= submit_tag "Agendar monitoria" , :name => nil%>Agendar monitoria</button>
  </div>
<% end %>

  <%if @team.monitor != nil %>
    <%= form_tag contact_index_path, :method => 'get' do %>
      <div class="form-group" id="btn_contactar">
            <button <%= submit_tag "Contactar monitor" , :name => 'email' , value: @team.monitor.user.email %>Contactar monitor</button>
      </div>
    <% end %>
  <% end %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Turma</th>
      <th scope="col">Data</th>
      <th scope="col">Local</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= " Total de horas de monitoria: #{@events.size} " %>
  <tbody>

    <% @events.each do |event| %>
      <tr>
        <%if event.status%>
            <td><%= event.descricao %></td>
            <td><%= I18n.l(event.inicio) %></td>
            <td><%= event.local %></td>
            <td><%= link_to 'Show', team_event_path(@team,event) %></td>
            <% if current_user.person == event.team.monitor %>
              <td><%= link_to 'Edit', edit_team_event_path(@team,event) %></td>
              <td><%= link_to 'Destroy', [@team,event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%end%>
            <% if current_user.person.events.include? event %>
                <td><%= link_to 'Sair', :name => event.id %></td>
            <% else %>
              <td><%= link_to 'Participar', :name => event.id %></td>
            <% end %>
        <% elsif current_user.person.turma == @team or current_user.person.id == event.autor_id %>
              <td><%= event.descricao %></td>
              <td><%= I18n.l(event.inicio) %></td>
              <td><%= event.local %></td>

              <td><%= link_to 'Edit', edit_team_event_path(@team,event) %></td>
              <td><%= link_to 'Show', team_event_path(@team,event) %></td>
              <td><%= link_to 'Destroy', [@team,event], method: :delete, data: { confirm: 'Are you sure?' } %></td>
<td>Aguardando aprovação</td>

              <% if current_user.person.turma == @team %>
                  <%= form_tag("/teams/#{@team.id}/events/#{event.id}", method: 'get') do %>
                    <td><div class="form-group" id="btn_agendar">
                      <button <%= submit_tag "Aprovar" , :name => 'status' , :value => true %>Aprovar</button>                    </div></td>
                  <% end %>

              <%end%>


        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
