<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @event.team %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @event.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.fim %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
