<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @event.team.id %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @event.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.fim %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<table>
  <thead>
    <tr>
      <th>Participantes confirmados</th>
    </tr>
  </thead>

  <tbody>
    <% @event.people.each do |p| %>
      <tr>
        <td><%= p.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @person = false %>
<% @event.people.each do |p| %>
  <% if current_user.person == p %>
    <% @person = true %>
  <% end %>
<% end %>

<br>
<% if @person == true %>
  <%= link_to 'Avaliar Monitoria', new_evaluation_path(@event), :class => 'btn btn-success' %>
<% end %>
<br><br>

<%= link_to 'Edit', edit_team_event_path(@team,@event) %> |
<%= link_to 'Back', team_path(@team) %>
