<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @event.team.id %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @event.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.fim %>
</p>

<p>
  <strong>Local:</strong>
  <%= @event.local %>
</p>

<table>
  <thead>
    <tr>
      <th>Participante confirmado</th>
    </tr>
  </thead>

  <tbody>
    <% @event.people.each do |p| %>
      <tr>
        <td><%= p.nome %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_team_event_path(@team,@event) %> |
<%= link_to 'Back', team_path(@team) %>
