<h2> Mensagem para: <%= @person.person.nome %> </h2>

<%=  form_tag contact_path(self), :method => 'get' do |f| %> 
  <div class="form-group">
        <label> Email: </label> <br>
        <%= text_field_tag 'remet', current_user.email, size: 51, class: "disabled" %><br><br>
        <label> Mensagem para o monitor: </label> <br>
        <%= text_area_tag 'msg', nil, rows: 10, cols: 50, placeholder: "Mensagem..." %><br><br>
        <%= submit_tag "Enviar", class: "btn btn-primary", :name => nil %>
  </div>
<% end %>
