
<% if current_user.person.coordenador? %>
    <h1>Gerar relatório</h1>
    <%= render 'form', team: @reports %>

    <% if @events != nil %>
            <h3>Relatório de Monitorias</h3>
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Disciplina</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fim</th>
                <th scope="col">Monitor</th>
                <th scope="col">Local</th>
                <th scope="col">Descrição</th>
                </tr>
            </thead>


            <tbody>
                <% @events.each do |e| %>
                    <tr>
                        <td><%= e.team.discipline.descricao %></td>
                        <td><%= e.inicio %></td>
                        <td><%= e.fim %></td>
                        <td><%= e.team.monitor.nome %></td>
                        <td><%= e.local %></td>
                        <td><%= e.descricao %></td>
                    </tr>
                <% end %>
            </tbody>
            </table>
    <%end%>

    <% if @evaluations != nil %>
        <h3>Relatório de Monitorias Avaliadas</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Descrição da Monitoria</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Monitor</th>
                    <th scope="col">Média</th>
                    </tr>
                </thead>


                <tbody>
                    <% @evaluations.each do |e| %>                
                        <tr>
                            <td><%= e.event.descricao %></td>
                            <td><%= e.event.team.discipline.descricao %></td>
                            <td><%= e.event.team.monitor.nome %></td>
                            <td><%= e.nota %></td>
                        </tr>
                    <% end %>
                    
                    </tbody>
            </table>
    <% end -%>

    <% if @teams != nil %> 

    <h3>Relatório de Monitorias Realizadas</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Disciplina</th>
                <th scope="col">Monitor</th>
                <th scope="col">Quantidade</th>
                </tr>
            </thead>


            <tbody>
                <% @teams.each do |t| %>                
                    <% if t.monitor != nil %>
                        <tr>
                            <td><%= t.discipline.descricao %></td>
                            <td><%= t.monitor.nome unless t.monitor.nil? %></td>
                            <td><%= Team.find(t.id).events.size %></td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
    <% end -%>

<% else %>
    <h1>Acesso apenas para coordenadores!</h1>
<%end%>
